@import '../../GlobalStyleVariables.scss';

.navigation {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: $navigation-height;
    background-color: $main-background-color;
    // border: 1px solid black;
    // overflow-x: hidden;
    transition: 0.5s;
    // padding-top: 60px;

    &__header{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: $navigation-height;
        color: $primary-color;
        background-color: $main-background-color;
        font: bold 20px roboto;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        
    }

    &__expandable-section{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        height: 100%;
        width: 0%;
        overflow-x: hidden;

        transition: 0.5s;
        
        &--expanded{
            width: 100%;
        }
        
    }

    &__expandable-left-panel{
        position: relative;
        width: 80%;
        background-color: $secondary-color;
    }

    &__expandable-right-panel{
        width: 20%;
        background-color: $main-background-color;
    }

    &__menu{
        margin-top: 40px;
    }

    &__expand-button-container{
        display: flex;
        align-content: center;
        width : 20%;
        margin: 10px;
    }

    &__collapse-button-container{
        display: flex;
        align-content: center;
        margin: 10px;
    }

    &__title-container{
        display: flex;
        justify-content: center;
        width : 60%;
        color: $primary-color;
        &--title{
            text-align: center;
        }
    }

    &__search-icon{
        width: 20%;
    }

    &__link{
        display: inline-block;
        color: #f1f1f1;
        font: 20px roboto;
        text-decoration: none;
        margin-bottom: 10px;
    }

    &__link--active{
        font-weight: bold;
    }

    &__active-indicator{
        display: inline-block;
        text-align: center;
        width: 10%;
        color: #f1f1f1; 
        font-weight: 800;
    }

    &__link :hover{
        color: #f1f1f1;
        cursor: pointer;
    }
}
@media screen and (min-width: $mobile-width-boundary + 1) {
    
    .navigation{
        
        &__header{
            display: none;
        }
        
        &__expandable-section{
            height: $navigation-height;
            width: 100%;
        }

        &__expand-button-container{
            display: none;
        }
    }
    
    
}
@media screen and (max-width: $mobile-width-boundary) {
    .navigation{
      
    }
}
