$primary-color : #3AD164;
$secondary-color : #6EE18E;
$main-background-color : #FFFFFF;

$navigation-height : 12vh;
$mobile-width-boundary : 500px;

$mobile-img-placeholder-icon-width: 80px;
$mobile-img-placeholder-icon-height: 80px;

$mobile-menu-icon-width: 40px;
$mobile-menu-icon-height: 30px;

$mobile-main-bg-icon-width: 40px;
$mobile-main-bg-icon-height: 40px;

$desktop-img-placeholder-icon-width: 80px;
$desktop-img-placeholder-icon-height: 80px;

$desktop-menu-icon-width: 60px;
$desktop-menu-icon-height: 40px;

$desktop-main-bg-icon-width: 50px;
$desktop-main-bg-icon-height: 50px;